/**
 * Custom CSS
 *
 * Add this to your Tailwind CSS file,
 * or to a separate, custom CSS file.
 *
 * Update the background images to suit
 * your project.
 */



 /* --------------------------------- CSS ------------------------*/


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;


}




.fill {
display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}


.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}



.desc {
	padding:15px;
	text-align:center;	
}


.gallery {
	border: 1px solid #000;
}

.gallery:hover {
	border:1px solid #777;
}

.gallery img {
	width: 100%;
	height:auto;
}



 /* --------------------------------- Images ------------------------*/


.bg-cover-image {
	background: url(images/Postcard.jpg) center center no-repeat;
	background-attachment: fixed;
	background-size: cover;
	border-bottom-width: 100%;
	background-attachment: scroll;
	border-color:black;

}



.bg-header {
  background: url(images/Space.jpg) center center no-repeat;
  background-attachment: fixed;
  background-size: cover;	
}

.bg-quote {
  background: url(images/Setup.JPG) center center no-repeat;
  background-attachment: fixed; 
  background-size: cover;
  background-attachment: scroll;
}

.text-box {
	background-color: rgba(255, 255, 255, .7);
	color: #000;
}


?/*-------------------------------- Videos -------------------------------------*/

.video-title {
  background: #fff;
}

@media only screen and (min-width : 768px) {
  .video-wrapper {
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    width: 100%;
  }

  .video-wrapper video {
    height: 100%;
    position: absolute;
      top: 0;
      left: 0;
    width: 100%;

  }

  .video-title {
    
    position: absolute;
      top: 57%;
      left: 45%;
    transform: translateX(0%);
    z-index: 99;



}


  }

  .video-title2 {
    
    position: absolute;
      top: 57%;
      left: 30%;
    transform: translateX(0%);
    z-index: 99;



}

  .video-title3 {
    
    position: absolute;
      top: 45%;
      left: 46%;
    transform: translateX(0%);
    z-index: 99;

     	



}

.black-white {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}




@media screen and (max-width:600px){
	ul.topnav li.right, ul.topnav li {
		float:none;
	}
}

@media only screen and (max-width: 700px){
	.responsive {
		width:49.99999%;
		margin: 6px 0;
	}
}

@media only screen and (max-width: 600px){
	.responsive {
		width:100%;
	}
}

.clearfix:after {
	content:"";
	display:table;
	clear:both;
}